.backgroundColor {
    background-color: #6B46C1;
    /* height: 45%; */
}

.btnPrimaryPro {
    background-color: #805AD5 !important;
    color: #F7FAFC;
}

.borderRadius {
    border-radius: 12px !important;
    ;

}

.primiumPro { 
    flex-wrap: wrap;
    background-color: rgba(101, 44, 211, 0.1);
  
}
.primiumProH1 { 
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    
    text-align: center;
    
    /* gray / 900 */
    
    color: #171923;
}
.primiumProPrice { 
   
/* font-family: 'Inter'; */
font-style: normal;
font-weight: 800;
font-size: 60px;
line-height: 100%;
/* identical to box height, or 60px */

letter-spacing: -0.01em;

/* gray / 900 */

color: #171923;
}
.primiumBuildJustOne { 
   

    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */
    
    text-align: center;
    
    /* gray / 900 */
    
    color: #171923;
    
    
}